doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://aframe.io/releases/1.5.0/aframe.min.js") 
    script(src="javascripts/mycomponent.js") 
    script(src="https://recast-api.donmccurdy.com/aframe-inspector-plugin-recast.js")
  body
    block content
